@model CoffeeSoft.Models.Florist

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły kwiaciarni - @Html.DisplayFor(model => model.FloristName)</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FloristName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloristName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FloristAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloristAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy kwiaciarni", "Index")
</p>
