@model CoffeeSoft.Models.CoffeeShop

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń kwiaciarnię - @Html.DisplayFor(model => model.CoffeeShopName)</h2>

<h3>Czy na pewno chcesz usunąć tę kwiaciarnię?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoffeeShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoffeeShopName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoffeeShopAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoffeeShopAddress)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default btn-delete" /> |
            @Html.ActionLink("Wróć do listy kwiaciarni", "Index")
        </div>
    }
</div>
