@model CoffeeSoft.Models.CoffeeShop

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły kwiaciarni - @Html.DisplayFor(model => model.CoffeeShopName)</h2>

<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoffeeShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoffeeShopName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoffeeShopAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoffeeShopAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edycja", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy kwiaciarni", "Index")
</p>
